<h1>Edit {{user.username}}'s profile</h1>
<form action="/user/{{user.id}}?_method=PUT" method="POST">
  <div>
    <label for="username">User name:</label>
    <input type="text" name="username" value="{{user.username}}"/>
  </div>
  <div>
    <label for="email">Email</label>
    <input type="text" name="email" value="{{user.email}}">
  </div>
  <div>
  	<label for="travelCountry">Traveling country:</label>
  	<input name="travelCountry" value="{{user.travelCountry}}">
  </div>
  <div>
    <input type="submit" value="Update User"/> <a href="/user/{{user.id}}">Back</a>
  </div>
</form>
