<form method="post" action="/sessions?_method=DELETE">
        <button class="logout">logout</button>
    </form>

<h1>{{user.username}}'s Profile</h1>
    <p>Name: <a href="/user/{{user.id}}">{{user.username}}</a></p>
    <p>Email: {{user.email}}</p>
    <p>Traveling Country: {{user.travelCountry}}</p>
    <p>Travel Start date: {{user.created_at}}</p>
    <p>Latest update: {{user.updated_at}}</p>
    <a href="/user/{{user.id}}/edit">Edit Profile</a>

    <br>
    <br>
    <br>
    <!-- PUT IMG URL AS BACKGROUND TO DIVS -->
    <a class="viewMyPin" href="/user/{{user.id}}/pins">View my pins</a>
    <br>
    <a class="exploreOthers" href="/user/pins">Explore others</a>
    
