<div class="profilePage">
<div class="userProfile">
    <a href="/user/{{user.id}}/edit">Edit Profile</a>
    <h1>{{user.username}}'s Profile</h1>
        
        {{!-- {{#if currentUserId}} --}}
            {{!-- <a href="/user/{{user.id}}/edit">Edit Profile</a> --}}
        {{!-- {{/if}} --}}

        <p>Name: <span>{{user.username}}</span></p>
        <p>Email: <span>{{user.email}}</span></p>
        <p>Traveling Country: <span>{{user.travelCountry}}</span></p>
        <p>Travel Start Date: <span>{{user.created_at}}</span></p>
        <p>Latest Update: <span>{{user.updated_at}}</span></p>
        <br>
    
        {{#if isAdmin}}
        <a class="viewMyPin" href="/user/{{user.id}}/pins">
            <button type="button" class="btn btn-default" style="right:10px">View my pins</button>
        </a>

        {{else}}
        <a class="viewMyPin" href="/user/{{user.id}}/pins">
            <button type="button" class="btn btn-default" style="right:10px">View {{ user.username}}'s Pins ></button>
        </a>

        {{/if}}
        <a class="exploreOthers" href="/user/pins">
            <button type="button" class="btn btn-default">Explore the World ></button>
        </a>
</div>
<br>
<form method="post" action="/sessions?_method=DELETE">
        <button class="btn btn-default"> logout </button>
</form>
<br>
<br>
<br>
</div>
