<h1>{{user.name}}'s' Profile</h1>
<ul>
    <li>Name: <a href="/user/{{this.id}}">{{this.name}}</a></li>
    <li>Email: {{this.email}}</li>
    <li>Traveling Country: {{this.travelCountry}}</li>
    <li>Travel Start Date: {{this.created_at}}</li>
    <li>Latest update: {{this.updated_at}}</li>
    {{#each user.tracks}}
    <li><a href="#"{{this.tracks}}></a></li> 
    {{/each}}
</ul>

var UserSchema = new Schema({
  name: String,
  email: String,
  password: String,
  travelCountry: String,
  created_at: Date, 
  updated_at: Date,
  tracks: [TrackSchema]
});

<div>
	<ul>
  {{#each tracks}}
    <li class="nav"><a href="#">image</a> | </li>
    <li class="nav"><a href="#">login</a> | </li>
    <li class="nav">
      <form method="post" action="/sessions?_method=DELETE">
        <button>logout</button>
      </form>
    </li>
  	</ul>
 </div>