<form method="post" action="/sessions?_method=DELETE">
        <button class="logout">logout</button>
    </form>

<h1>{{user.username}}'s Profile</h1>
<ul>
    <li>Name: <a href="/user/{{user.id}}">{{user.username}}</a></li>
    <li>Email: {{user.email}}</li>
    <li>Traveling Country: {{user.travelCountry}}</li>
    <li>Travel Start date: {{user.created_at}}</li>
    <li>Latest update: {{user.updated_at}}</li>
    <a href="/user/{{user.id}}/edit">Edit Profile</a>
</ul>
    <br>
    <br>
    <!-- PUT IMG URL AS BACKGROUND TO DIVS -->
    <h3>My Pins:</h3><a class="addCllick" href="/user/{{user.id}}/new">Add New Pin</a>
    <br>
    <br>
    <div class="pinBoxHolder">
        {{#each pins}}
        <!-- {{user.id}} isn't finding user.id number -->
        <a href="/user/{{../user.id}}/pins/{{this.id}}">
            <div class="pinBox">
                <p>{{this.title}}</p>
            </div>
        </a>
        {{/each}}
    </div>

