<div class="back">
  <a href="/user/{{currentUserId.id}}"> < Back to Profile</a>
</div>
<div class="explorePage">
<h1> Explore The World</h1>
</div>
{{#each users}}
<div class="wrap">
  <h2 style="margin-left:15px" class="travelCountry">{{this.username}} <small>{{this.travelCountry}}</small></h2>
  <br>

<!--
  <div class="scrollbar">
    <div class="handle">
      <div class="mousearea"></div>
    </div>
  </div> -->

  <div class="frame basic">
    <ul class="clearfix">
      {{#each this.pins}}
      <li>
      <a href="/user/{{../this.id}}/pins/{{this.id}}">
        <div class="pinBox">
            <img style="height:100%" class="pinContent" src="{{this.imgUrl}}"/>
        </div>
      </a>
      </li>
      {{/each}}
    </ul>
  </div>

</div>
{{/each}}
